body{
    text-align: center;
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: italic;
    margin: 0px;
    
}
/*NavBar*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0e918c;
}
li{
    float:right;
}
li a{ 
    display: block;
    color: white;
    padding: 1rem 3rem;
    text-decoration: none;
    font-size: 1.2rem;
}
/*Header*/
header {
    display: inline;
    text-align: left;
}
header h1{
    display: inline;
    margin: 20px;
    
}
.headbackground{
    background-color: #d2d3c9;
    padding: 10px;
}

.spacer{
    height: 5px;
}

/*Footer*/
#footer {
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    background-color: #0e918c;
    color: white;
    padding:1px 10px;
}

.ftrglinks a {
    padding: 6px 10px;
    background-color: #51c4c2;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}
.fab{
    padding: 5px 15px 15px 15px;
    color: white;
}
/*Forms*/
form {
    padding: 20px 0;
    position: relative;
  }
  form input {
    border: 1px solid ;
    background-color: #d2d3c9;
    width: 250px;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: black;
    font-weight: 300;
  }
  
  form button {
    appearance: none;
    outline: 0;
    background-color: #0e918c;
    border: 0;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    width: 281px;
    font-size: 18px;
  }
  .formdiv{
      border: 2px solid;
      border-radius: 5px;
      width: 300px;
      text-align: center;
      display: inline-block;
  }