body{
    text-align: center;
    font-family: 'Montserrat';
    font-weight: bold;
    font-style: italic;
    margin: 0px;
    
}
/*NavBar*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0e918c;
}
li{
    float:right;
}
li a{ 
    display: block;
    color: white;
    padding: 1rem 3rem;
    text-decoration: none;
    font-size: 1.2rem;
}
/*Header*/
header {
    display: inline;
    text-align: left;
}
header h1{
    display: inline;
    margin: 20px;
    
}
.headbackground{
    background-color: #d2d3c9;
    padding: 10px;
}

.spacer{
    height: 5px;
}

/*Footer*/
#footer {
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    background-color: #0e918c;
    color: white;
    padding:1px 10px;
}

.ftrglinks a {
    padding: 6px 10px;
    background-color: #51c4c2;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}
.fab{
    padding: 5px 15px 15px 15px;
    color: white;
}
/*Login*/
input[type=text], input[type=password] {
    width: 250px;
    padding: 8px 15px;
    margin: 4px 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: medium;
    font-family: 'Montserrat';
}
button {
    background-color: #0e918c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    font-size: medium;
    font-family: 'Montserrat';
}
